*{margin: 0; 
    padding: 0;}

.bigbox{
    height: 500px;width:99vw;
    border: 3px solid black;
    overflow: hidden;
    margin: auto;
    display: flex;
    background-color:rgb(233, 156, 127);
}
.minicard{
    height: 90%;
    width: 33%;
   
    margin: 5px;
    text-align: center;
}
img{
    height: 90%;
    width: 90%;
    transition: 1s;
}
img:hover{
    transform: scale(1.05);
}
button{
    text-align: center;
    transition: 1s;
    background-color:lightblue;
    border-radius: 5px;
}
button:hover{
    transform:scale(1.5);
    background-color: green;
    }
    h3{margin-top: 1rem;}